<launch>
    <group ns="phantom">
        <arg name="model" />
        <arg name="gui" default="False" />
        <arg name="vel" default="True" />
        <arg name="eff" default="True" />
        <param name="robot_description" textfile="$(arg model)"  />
        <param name="use_gui" value="$(arg gui)"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="tf_phantomTransform_broadcaster" pkg="testbot_description" type="tf_phantomTransform_broadcaster" />
        <param name="publish_default_velocities"  value="$(arg vel)" />
        <param name="publish_default_effort"  value="$(arg eff)" />
    </group>
</launch>